{% extends 'base.html.twig' %}

{% block title %}CommandeClient{% endblock %}

{% block body %}
    <h1>CommandeClient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCommande</th>
                <td>{{ commande_client.idCommande }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ commande_client.dateCreation ? commande_client.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commande_client_index') }}">back to list</a>

    <a href="{{ path('commande_client_edit', {'idCommande': commande_client.idCommande}) }}">edit</a>

    {{ include('commande_client/_delete_form.html.twig') }}
{% endblock %}
