{% extends 'base.html.twig' %}

{% block title %}StatutCommande{% endblock %}

{% block body %}
    <h1>StatutCommande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdStatutCommande</th>
                <td>{{ statut_commande.idStatutCommande }}</td>
            </tr>
            <tr>
                <th>LibelleStatutCommande</th>
                <td>{{ statut_commande.libelleStatutCommande }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('statut_commande_index') }}">back to list</a>

    <a href="{{ path('statut_commande_edit', {'idStatutCommande': statut_commande.idStatutCommande}) }}">edit</a>

    {{ include('statut_commande/_delete_form.html.twig') }}
{% endblock %}
