{% extends 'base.html.twig' %}

{% block title %}TypePaiement index{% endblock %}

{% block body %}
    <h1>TypePaiement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdTypePaiement</th>
                <th>LibelleTypePaiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_paiement in type_paiements %}
            <tr>
                <td>{{ type_paiement.idTypePaiement }}</td>
                <td>{{ type_paiement.libelleTypePaiement }}</td>
                <td>
                    <a href="{{ path('type_paiement_show', {'idTypePaiement': type_paiement.idTypePaiement}) }}">show</a>
                    <a href="{{ path('type_paiement_edit', {'idTypePaiement': type_paiement.idTypePaiement}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_paiement_new') }}">Create new</a>
{% endblock %}
