{% extends 'base.html.twig' %}

{% block title %}TypePaiement{% endblock %}

{% block body %}
    <h1>TypePaiement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdTypePaiement</th>
                <td>{{ type_paiement.idTypePaiement }}</td>
            </tr>
            <tr>
                <th>LibelleTypePaiement</th>
                <td>{{ type_paiement.libelleTypePaiement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_paiement_index') }}">back to list</a>

    <a href="{{ path('type_paiement_edit', {'idTypePaiement': type_paiement.idTypePaiement}) }}">edit</a>

    {{ include('type_paiement/_delete_form.html.twig') }}
{% endblock %}
