{% extends 'base.html.twig' %}

{% block title %}Cb index{% endblock %}

{% block body %}
    <h1>Cb index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCb</th>
                <th>NumCb</th>
                <th>TitulaireCb</th>
                <th>DateValiditeCb</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cb in cbs %}
            <tr>
                <td>{{ cb.idCb }}</td>
                <td>{{ cb.numCb }}</td>
                <td>{{ cb.titulaireCb }}</td>
                <td>{{ cb.dateValiditeCb ? cb.dateValiditeCb|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('cb_show', {'idCb': cb.idCb}) }}">show</a>
                    <a href="{{ path('cb_edit', {'idCb': cb.idCb}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cb_new') }}">Create new</a>
{% endblock %}
