{% extends 'base.html.twig' %}

{% block title %}Cb{% endblock %}

{% block body %}
    <h1>Cb</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCb</th>
                <td>{{ cb.idCb }}</td>
            </tr>
            <tr>
                <th>NumCb</th>
                <td>{{ cb.numCb }}</td>
            </tr>
            <tr>
                <th>TitulaireCb</th>
                <td>{{ cb.titulaireCb }}</td>
            </tr>
            <tr>
                <th>DateValiditeCb</th>
                <td>{{ cb.dateValiditeCb ? cb.dateValiditeCb|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cb_index') }}">back to list</a>

    <a href="{{ path('cb_edit', {'idCb': cb.idCb}) }}">edit</a>

    {{ include('cb/_delete_form.html.twig') }}
{% endblock %}
