{% extends 'base.html.twig' %}

{% block title %}Fournisseur index{% endblock %}

{% block body %}
    <h1>Fournisseur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdFournisseur</th>
                <th>NomFournisseur</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Ligne1</th>
                <th>Ligne2</th>
                <th>Ville</th>
                <th>CodePostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.idFournisseur }}</td>
                <td>{{ fournisseur.nomFournisseur }}</td>
                <td>{{ fournisseur.tel }}</td>
                <td>{{ fournisseur.email }}</td>
                <td>{{ fournisseur.ligne1 }}</td>
                <td>{{ fournisseur.ligne2 }}</td>
                <td>{{ fournisseur.ville }}</td>
                <td>{{ fournisseur.codePostal }}</td>
                <td>
                    <a href="{{ path('fournisseur_show', {'idFournisseur': fournisseur.idFournisseur}) }}">show</a>
                    <a href="{{ path('fournisseur_edit', {'idFournisseur': fournisseur.idFournisseur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fournisseur_new') }}">Create new</a>
{% endblock %}
